
   .detail-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
  }
  
  .detail-proImg {
    flex: 1;
    min-width: 300px; 
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .detail-proImg img {
    width: 100%; 
    height: auto; 
  }
  
  .detail-userDetail {
    flex: 2; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .detail-userDetail h5 {
    color: #111827;
    font-family: Poppins;
    font-size: 2em; 
    font-weight: 500;
    margin: 0 0 10px; 
  }
  
  .detail-userDetail h6 {
    font-family: Poppins;
    font-size: 1.25em; 
    font-weight: 500;
    color: #D5B0CF;
    margin: 0 0 10px; 
  }
  
  .detail-userDetail p {
    font-family: Poppins;
    font-size: 1em; 
    font-weight: 400;
    line-height: 1.5; 
    color: #111827;
    margin: 0 0 20px; 
    text-align: left;
    padding: 0px;
  }
  
  .detail-userDetail button {
    width: 100%; 
    max-width: 212px; 
    height: 44px; 
    border-radius: 4px; 
    background: #BB8DB7;
    color: #fff; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin: 5px 0; 
  }
  
  .detail-userDetail button:hover {
    background: #a67a93; 
  }
  .social-icons {
    display: flex;
    justify-content: flex-start; 
    margin: 10px 0; 
  }
  
  .social-icons a {
    margin-right: 15px; 
    color: #BB8DB7; 
    transition: color 0.3s; 
  }
  
  .social-icons a:hover {
    color: #a67a93; 
  }
  
  @media (max-width: 768px) {
    .detail-wrapper {
      flex-direction: column; 
    }
  
    .detail-userDetail {
      margin-left: 0; 
    }
  
    .detail-proImg {
      padding: 10px; 
    }
  }
  